* {
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #cfcfcf;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 2000px;
    max-height: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

#map-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#world-map {
    width: 100%;
    height: auto;
    max-width: 1600px;
    border-radius: 8px;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.input-section, .output-section {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #555;
    color: #cfcfcf;
    border: 1px solid #666;
    border-radius: 4px;
}

button {
    background-color: #556b2f;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6b8e23;
}

#results {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
}

#results p {
    margin: 10px 0;
}


.index-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

.index-input-section, .index-output-section {
    margin: 20px 0;
}

.country-button {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

