<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dijkstra's Algorithm Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="index-container">
        <h1>Dijkstra's Algorithm Visualization</h1>
        <div class="index-input-section">
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-input">Upload Map File:</label>
                <input type="file" id="file-input" name="file">
                <button type="submit">Upload File</button>
            </form>
        </div>
        <div class="index-output-section">
            <h2>Map</h2>
            <div id="map-container">
                <img src="{{ url_for('static', filename='world-map.jpg') }}" alt="World Map" width="100%">
            </div>
        </div>
    </div>
</body>
</html>